[Unit]
Description=Run inotifywatch for podman overlays

[Service]
ExecStart=/usr/bin/inotify-overlays
Restart=on-failure
SyslogIdentifier=inotify-overlays

[Install]
WantedBy=multi-user.target
